/* SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

1rem = 10px

color
#00b3db
*/
:root {
  --primary-color: #f7f7f7;
  --dark-text-color: #333;
  --light-text-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
html {
  /* font-size: 10px;
    10px / 16px = 0.625 = 62.5% */
  /* font-size: 62.5%; */
}
body {
  /* font-family: sans-serif; */
  /* font-family: inherit !important; */
  /* color: #333; */
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  /* color: #333; */
}
h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  /* margin: 10px 0; */
}
img {
  width: 100%;
}
/* section > .container { */
.container {
  max-width: 1170px;
  margin: auto;
  /* display: block; */
  overflow: auto;
  padding: 30px 50px;
  background-color: orangered;
}
.flex {
  /* background-color: orangered; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 0;
  /* flex-wrap: wrap; */
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
}
.card {
  background-color: #fff;
  /* border-radius: 10px; */
  box-shadow: 0 3px 10px rgba(0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}
/* Section banner */
#banner {
  position: relative;
}

#banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--light-text-color);
}

/* Section nav-bar  */
#nav-bar .container {
  justify-content: space-around;
  /* overflow: visible; */
}
#nav-bar .container::before,
#nav-bar .container::after {
  content: "";
  position: absolute;
  height: 20px;
  /* bottom: -70px; */
  right: 0;
  left: 0;
  background-color: cyan;
  /* background: yellow; */
  transform: skewY(-3deg);
  /* overflow: hidden; */
  z-index: -100;
  /* visibility: hidden; */
}
/* #nav-bar a::before,
#nav-bar a::after {
  content: "";
} */

#nav-bar a:hover {
  /* border-bottom: 2px solid #000; */
  font-weight: bold;
}

/* Section about */
#about .container {
  /* grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr); */
  /* column-gap: 20px;
  row-gap: 40px; */
}

/* Section info */
#info .grid-3 {
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: repeat(2, 1fr); */
  /* column-gap: 20px;
    row-gap: 40px; */
}

/* #info .info-title {
  display: grid;
  grid-template-columns: 3fr 1fr;
} */
#info .card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#info .card > * {
  grid-column: 1 / 5;
}
#info .card > *:first-child {
  grid-column: 1 / span 3;
  grid-row: 1;
}
#info .card > *:nth-child(2) {
  grid-column: 4;
  grid-row: 1;
}

/* Section certificate */
#certificate .grid {
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  /* column-gap: 20px;
    row-gap: 40px; */
  /* min-width: 0;
  min-height: 0; */
}
#certificate .card {
  transition: transform 0.2s ease-in;
}
#certificate .card:hover {
  transform: translateY(-15px);
}

/* Section project */
#project .grid-3 {
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: repeat(2, 1fr); */
  /* column-gap: 20px;
      row-gap: 40px; */
}
/* Section footer */
/* #footer .container {
} */
