/* SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

1rem = 10px

color
#00b3db
*/
:root {
  --primary-color: #f7f7f7;
  --dark-text-color: #333;
  --light-text-color: #fff;
}
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 1rem 0;
}
img {
  width: 100%;
}
.container {
  max-width: 1170px;
  margin: auto;
  overflow: auto;
  padding: 30px 50px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
}
.card {
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}
/* Section banner */
#banner {
  position: relative;
}

#banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--light-text-color);
}

/* Section nav-bar  */
#nav-bar .container {
  justify-content: space-around;
}
#nav-bar .container::before,
#nav-bar .container::after {
  content: "";
  position: absolute;
  height: 20px;
  right: 0;
  left: 0;
  background-color: cyan;
  transform: skewY(-3deg);
  z-index: -100;
}

#nav-bar a:hover {
  font-weight: bold;
}

/* Section about */

/* Section info */

#info .card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#info .card > * {
  grid-column: 1 / 5;
}
#info .card > *:first-child {
  grid-column: 1 / span 3;
  grid-row: 1;
}
#info .card > *:nth-child(2) {
  grid-column: 4;
  grid-row: 1;
}

/* Section certificate */
#certificate .card {
  transition: transform 0.2s ease-in;
}
#certificate .card:hover {
  transform: translateY(-15px);
}
